<div class="login-container">
  <section class="form-container">
    <div class="overlay"></div>
    <div class="user-pass">
      <form class="login">
        <mat-form-field>
          <mat-label>Usuário</mat-label>
          <input type="text" id="username" name="username" matInput placeholder="Ex: nome.sobrenome">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" id="pass" name="password" matInput>
        </mat-form-field>
      </form>
    </div>
  </section>
</div>
