<div class="login-container">
  <section class="form-container">
    <div class="overlay"></div>
    <div class="user-pass">
      <form class="login">
        <mat-form-field>
          <mat-label>Usuário</mat-label>
          <input autocomplete="off" type="text" id="username" name="username" matInput placeholder="Ex: nome.sobrenome" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" id="pass" name="password" matInput required>
        </mat-form-field>
        <button class="button" type="primary">Entrar</button>
        <p class="forgotpassp">
         <a class="forgotpass" rel="stylesheet" href="mailto:webmaster@example.com">Esqueci minha senha</a>
        </p>
      </form>
    </div>
  </section>
</div>
